.description {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 96px 88px 96px 64px;
  background: url("../../images/image/bg.svg");
  max-width: 1440px;
}
@media screen and (max-width: 768px) {
  .description {
    padding: 96px 20px;
  }
}
@media screen and (max-width: 425px) {
  .description {
    padding: 96px 10px;
  }
}
