.header {
  height: 80px;
  margin: 0 auto;
  padding: 0 88px 0 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .header {
    padding: 0 40px 0 40px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 0 10px 0 10px;
  }
}
