.header__navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 1170px) {
  .header__navigation {
    gap: 25px;
  }
}
@media screen and (max-width: 960px) {
  .header__navigation {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.7);
    width: 100%;
    left: 0;
    z-index: 2;
    top: 80px;
  }
}
#burger:checked ~ .header__navigation {
  display: block;
}
