.header__counter-span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 35px;
  top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
